.contenedor {
    color: rgb(177, 177, 177);
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    /*px, auto, %, Fr, rem*/
    grid-template-rows: repeat(11);
    gap: 10px;
    margin:30px;
}
 
.item {
    background-color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    

}

.encabezado {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

}


.encabezado img {
    max-width: 100%;
    height: auto;
}
.encabezado2 {
    background-color: rgb(240, 240, 240);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
    color: #ee0000;
    font-size: 1.4rem;
    font-weight: 400;
    
}

/*.imagencard {
    width: auto;
    height: auto;
    display:flex;
    flex-wrap: wrap;   
}*/

.imagencard {
    max-width: 100%;
    height: auto;
}
/*
.categorias {
    
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(240, 240, 240);
    font-family:"Roboto", sans-serif; 
    height: 300px;
    color: black;
    min-height: 300px;
    object-fit: cover;
}
*/


.escuderias {
    color: #000;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(240, 240, 240);
    min-height: 150px;
    margin-left: 30px;
    margin-right: 30px; 

}

.escuderias.h3{
    font-family: "Roboto", sans-serif;
    color: black;
}
.escuderias img {
    width: 100px;
    height: 150px;   
}

    .slider {
        width: 55vw;
        height: auto;
        margin: auto;
        overflow: hidden;
        margin-top: 20px;
    }

    .slider .slide-track {
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(200px * 30);
        column-gap: 20px;
    }

    .slider .slide {
        width: 200px;
    }

    .slider .slide img {
        width: 100%;
    }
     .slider img{
        width: 100px;
        height: 150px;
     }

    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(-200px * 7));
            transform: translateX(calc(-200px * 7));
        }
    }

/*.pilotos {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(240, 240, 240);

}
.linkpilotos{
    text-decoration: none;
    color:#6c757d
}


.circuitos {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(240, 240, 240);

}

.resultados {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(240, 240, 240);
}

.calendario {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(240, 240, 240);

}
*/

.notiescuderias {
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(240, 240, 240);
    text-align: center;
    color:#000

}

.newsletter {
    grid-row-start:5 ;
    grid-row-end:6 ;
    grid-column-start:1 ;
    grid-column-end:3 ;
    background-color: rgb(240, 240, 240);
    min-height: 50px;
    padding: 15px;
}

/*.tempasadas {
    grid-row-start: ;
    grid-row-end: ;
    grid-column-start: ;
    grid-column-end: ;
    background-color: rgb(240, 240, 240);

}

.populares {
    grid-row-start: 8;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(240, 240, 240);

}
*/
p{
    font-size: 1rem;
    color:#333
}
.iconosredes{
    margin: 5px;
    text-decoration: none;
    color:#6c757d;
    padding: 15px;
    text-align: center;
    display: inline-flex;
    font-size: 1rem;
    border-color: #6c757d;
    border-style: solid;
    border-width: 2px;
    width: 15px;
    height: 15px;          
}

.navegacion {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

html {
    font-family: "Roboto", sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*
Esta es de chatGPT

body {
    font-size: 16px; /* Ajusta el tamaño de fuente base según tus preferencias 
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1rem; /* Ajusta el espacio entre párrafos
}

*/
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: #f2f2f2;
}

.navlink {
    text-align: left;
    margin: 5px;
    text-decoration: none;
    color: rgb(77, 74, 74);
    padding: 15px;
    text-align: left;
    display: inline-flex;
    --ms-text-justify: auto;
    font-size: 1.2rem;

}

.home {
    text-align: left;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #ee0000;
    padding: 15px;
    text-align: left;
    display: inline-flex;
    --ms-text-justify: auto;
    font-size: 1rem;

}
.iconos a:hover{
    color:white;
    background-color:#6c757d;
}

nav a:hover {
    background-color: #ee0000;
    color: whitesmoke
}

.linkform {
    color: #ee0000;
    text-decoration: none;

}
.clockdate-wrapper {
    background-color: white;
    padding: 15px;
    max-width: 100px;
    width:100%;
    text-align:right;
    margin:auto;
    margin-top : 20px;	
    margin-right: 20px;
    
}
#clock{
    background-color:#fff;
    font-family: sans-serif;
    font-size: 30px;
    text-shadow:0px 0px 1px #333;
    color:#333
}
#clock span {
    color:#333;
    font-size:10px;
    position:absolute;
    top: -27px;	
    margin-right: 20px;
}
#date{	
    font-size:14px;
    font-family:arial,sans-serif;
    color:#333;
}
.pie {
    grid-area: 10/ 1/ 11/ 5;
    /* 5/ 1/ span 1/ span3/*/
    text-align: center;
 
}
.primerfooter{
    text-align: center;
    border: #6c757d;
    margin-left: 20px;  
}

.segundofooter{
    text-align: center;
}

/* estilos de la columna de footer que no pude ubicar
.segundofooter{
    
    height: 200px;
    width: 370px;
    text-align: left;
    text-decoration: none;   
}
*/
.linksinteres{
    text-decoration: none;
    color:#333;
    font-size: 1.3rem;   
}
h4{
    color:#333;
    font-weight: bold;
}
.gruponumber{
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color:#ee0000;
    font-size: 1rem;
   
}

.contenedor1{
    /*background-color:white ;*/
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr); 
	grid-template-rows: repeat(6, 1fr); /* auto auto auto auto*/
   
    /*display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly ;*/   
}



.card{
    position: relative;
    width: 250px;
    height: 250px;  
    padding: 20px;      
}


.card div{
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
    text-align: center;
    margin: 10px; 
  
}

.front{
    background-color: white;
    transform: perspective(500px) rotateY(0deg);
    margin: 10px; 
    font-weight: bold;
    
}
.front img{
    padding-top: 40px;
}

.back{
    background-color:#333;
    transform: perspective(400px) rotateY(180deg); 
    color:antiquewhite ;     
}
.card a {
    font-size: 1rem ;
   
}
.card:hover .front{
    transform: perspective(400px) rotateY(180deg);

}
.card:hover .back{
    transform: perspective(400px) rotateY(360deg);
    
}
.infopilotos{
    color:whitesmoke;
    background-color:#333;
}
.noticias{
    padding: 50px;
    font-family:"Roboto", sans-serif;
}
    
    .noticias h2{
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 2.3rem;
    }
    .noticias h3{
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 2rem;
        text-align: center;
    }

    .noticias ul li{
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 1rem; 
        font-weight: bold; 
       
    }


    .noticias p{
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 1rem; 
    }

    .noticias h4{
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 1.2rem;
    }
    
.historias {
    padding: 50px;
}
    .historias h1{
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 2rem;
    }

    .historias h2{
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 1.7rem;
    }

    .historias h3{
        font-family:"Roboto", sans-serif;
        color:#333;
        font-size: 1.2rem;
    }

    .historias p{
        font-family:"Roboto", sans-serif;
        color: black;
        font-size: 1rem;
    }

    

 /*inicio slider*/
 
 


.content{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap:15px;
    max-width: 5000px;
    margin: 10px;
    padding: 10px;
 }

.post-img-1{
    background: url(/img/noticia1.jpg);
    width: 100%; 
    height: 200px;
    background-size: contain;
    background-position: center;
    transition: .2s;
 }

.post-img-2{
    background: url(/img/noticia2.jpg);
    width: 100%; 
    height: 200px;
    background-size: contain;
    background-position: center;
    transition: .2s;
 }

.post-img-3{
    background: url(/img/noticia3.jpg);
    width: 100%; 
    height: 200px;
    background-size: contain;
    background-position: center;
    transition: .2s;
 }

.post-img-4{
    background: url(/img/noticia4.jpg);
    width: 100%; 
    height: 200px;
    background-size: contain;
    background-position: center;
    transition: .2s;
 }

.post-img-5{
    background: url(/img/noticia5.jpg);
    width: 100%; 
    height: 200px;
    background-size: contain;
    background-position: center;
    transition: .2s;
 }

.post-img-6{
    background: url(/img/noticia6.jpg);
    width: 100%; 
    height: 200px;
    background-size: contain;
    background-position:center;
    transition: .2s;
 }

.post{
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 1);
    /*overflow:hidden;*/
    transition: .2s;
 }

.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
 }

.post-header{
    width: auto;
    height: auto;
    /*overflow:hidden;*/
    cursor: pointer;
 }

.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3,
.post:hover .post-img-4,
.post:hover .post-img-5,
.post:hover .post-img-6{
    transform: scale(1,1);
 }

.post-body{
    padding: 30px;
    text-align:justify;
 }

.post-body span{
    display: inline-block;
    color: #999;
    margin-bottom: 5px;
    font-size: 0.8rem;
 }

.post-body h2{
    margin-bottom:5px;
    font-size: 1.2rem;
    line-height: 1,2;
    text-align:justify;
    
 }

.post-body p{
    line-height: 1,2;
    margin-bottom: 20px;
    font-size: 1rem;

 }

.post-body .post-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    background:red;
    color: #fff;
    width: auto;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
    font-size: 1rem;
 
 }

.post-body .post-link:hover{
    background: red;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
    transform: translate(-2px);
 }


 @media (max-width: 1300px){
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
    .contenedor1{
        grid-template-columns: repeat(4, 1fr);
    }
    
}
 
 
 @media (max-width: 1000px){
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
    .contenedor1{
        grid-template-columns: repeat(3, 1fr);
    }
    
}

 @media (max-width: 840px){
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedor1{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width: 600px){
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
    .contenedor1{
        grid-template-columns: repeat(1, 1fr);
    }

}




@media  (max-width: 1000px) {
    
    
    .contenedor1 {
      grid-template-columns: repeat(3, 1fr);
      margin-left: 2.8%;
      margin-top: 3%;
      width: 46%;
    }
    .card {
      height: 285px;
    }
    .contenedor1:last-child {
      margin-bottom: 3%;
    }
  }

@media  (max-width: 840px) {
    
    .contenedor1 {
      grid-template-columns: repeat(2, 1fr);
      margin-left: 2.8%;
      margin-top: 3%;
      width: 30%;
    }
    .card {
      height: 285px;
    }
    .contenedor1:last-child {
      margin-bottom: 3%;
    }
  }
  
  @media  (max-width: 600px) {
    
    
    .contenedor1 {
      width: 94.5%;
      grid-template-columns: repeat(1, 2fr);
    }
    .card {
      height: 250px;
    }
  }

/*
Aca probando el Newsletter
*/
.email-box{
    height: 40px;
    display: flex;
    justify-content: center;
    }
    
    .email-box i{
        background-color: #2f3542;
        width: 40px;
        line-height: 40px;
    
    }
    
    .tbox, .btn{
        border: none;
        outline: none;
    }
    
    .tbox{
        width: 0px;
        transition: 0.6s;
    }
    .email-box:hover > .tbox,.tbox:focus{
        width: 260px;
        padding: 0 10px;
    }
    
    .btn{
        background-color: #2f3542;
        color: white;
        padding: 0 10px;
        text-transform: uppercase;
        cursor: pointer;
    }

    /*DFlores Agrego el dia 12 de Octubre, 2023*/
    #email-error {
        position: absolute;
        bottom: -20px; /* Añadido */
        left: 0; /* Añadido */
        width: 100%; /* Añadido */
        text-align: center; /* Añadido */
    }


    /* Estilos para pantallas más pequeñas (móviles) */
/*@media screen and (max-width: 600px) {
    .contenedor.encabezado{
        grid-column: 1 / -1;
    }
    .contenedor.encabezado2{
        grid-column: 1 / -1;
    }
    .contenedor.navegacion{
        grid-column:1/-1;
    }
    .escuderias{
        grid-column:1/-1;
    }
    .categorias{
        grid-column:1/-1;
        grid-row: 5;
       
    }
    .newsletter{
        grid-column: 1 / -1;
        grid-row: 6
        
    }
    .item.encabezado2 {
        font-size: 1.2rem;
    }

}*/


.post-link1{
    display:flex;
    min-height: auto;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    font-size: 0.7rem;
    text-decoration: none;
    color: white;
 }

 .post-link1:hover{
    background: red;
    
 }

 /*circuitos*/
 .tarjeta h2{
    padding-top: 20px;
    margin-left:200px;
    
 }
 
 #app{
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 100px;
   
}

span.red {
    background: red;
    border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    color: #ffffff;
    display:inline-block;
    font-weight: bold;
    line-height: 2.6em;
    margin-right: 25px;
    text-align: center;
    width: 2.6em;
  

}

.tarjeta{
    width: 100%;
    background: white;
    padding-bottom: 20px;
    box-shadow: 0px 20px 50px -10px #000;
    position: relative;
    margin: 20px;
}

.tarjeta:hover{
    cursor: pointer;
    transform: rotateX(0deg) scale(1) translateY(10px);
}

.titulo{
    font-size: 1.8rem;
    text-align: center;
}

.todo{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.info{
    text-align: center;
    font-size: 1rem;
    position:relative;
    
}

.imagenApp{
    margin-left: 2rem;
    width: 100%;
    
}

.imagenApp img{
    display: block;
    margin: auto;
    width: 350px;
    padding: 20px;   
}
    
@media screen and (max-width: 800px){
   
    #app{
        display:flex;
        flex-wrap: wrap;
        width:100%;
    }
    
    .tarjeta{
        
        max-width: 300px;
        margin: 20px;
        transform: scale(1);
    }
    .imagenApp img{
        width: 200px;
        align-items: center;
    }

    .todo{
        max-width: 300px;
    }
    
    .tarjeta:hover{
        transform: translateY(0px) scale(1.08);
    }
    .container-form{
        max-width: 300px;
        flex-wrap: wrap;
        margin: 20px;
        padding: 20px;
    }
}


@media screen and (max-width: 650px){
    
    .tarjeta{
        max-width: 300px;
        margin: 20px;
        transform: translateY(0deg) scale(1);
           
    }
    .container-form{
        max-width: 300px;
    }
    .imagenApp img{
        width: 200px;
        align-items: center;

    }
    .todo{
        max-width: 300px;
    }
    
}   
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
    margin: 40px;


.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
    color: black;
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color:red;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: rgb(255, 0, 0);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #c7746e96;
}

/*menu hamburguesa*/
.menu{
    background-color: #ff0318;
    color: #fff;
    height: 100px;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: #ff0318;
}






.menu__link--inside{
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover{
    background-color: #798499;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}

@media (max-width:800px){
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}}